@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #717ebd;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525f9e;
}

::-moz-selection {
  color: #232946;
  background: #b8c1ec;
}

::selection {
  color: #232946;
  background: #b8c1ec;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #b8c1ec;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, #eebbc3, #b8c1ec);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@tailwind utilities;
